body {
    font-size: 16px;
    font-family:'Times New Roman', Times, serif;
    text-align: right;
    color: violet;
}

h1 {
    text-align: center;
    background-color: aqua;
    margin: 8px 256px;
    color: white;
}

.header {
    color: red;
    text-align: center;
    background-color: bisque;
    margin: 8px 128px;
}