* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pink-paragraphs,
.bigger-pink-paragraphs {
    background-color: rgb(190, 62, 152);
    font-family: Verdana, Tahoma, sans-serif;
}

.bigger-pink-paragraphs {
    font-size: 24px;
}

#number2 {
    color: blue;
    font-size: 60px;
}

#number4 {
    background-color: rgb(20, 180, 120);
    font-weight: 700;
    font-size: 36px;
}