body,
html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
}

.main-body {
    display: flex;
    flex-basis: 85%;
}

.left-panel {
    padding-right: 100px;
    background-color: rgb(65, 105, 225);
}