body {
    background-color: lightgray;
}

.header {
    color: rgb(93, 45, 139);
    display: flex;
    background-color: white;
    justify-content: space-between;
}

.left-panel,
.right-panel {
    display: flex;
    padding: 8px;
    align-items: center;
}

.item {
    margin: 0px 16px;
}

.logo {
    font-size: 30px;
    font-weight: 900;
}