body {
    background-color: lightgray;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.top-header {
    display: flex;
    justify-content: space-between;
}