body, html {
    height: 100%;
}

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    background-color: white;
    width: 400px;
    padding: 8px;
    border-radius: 10px;
}
.item.one{
    display: flex;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    border-radius: 50%;

    color: rgb(64, 104, 223);
    background-color: rgb(230, 230, 250);
    
    margin-right: 12px;
    padding: 8px;
    justify-content: center;
}

.circle {
    display: flex;
    font-size: 32px;
    font-weight: 700;
    align-items: center;
}

.item.two .header {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
}

.item.two .center-text{
    margin-bottom: 8px;
}

.item.two .center-buttons {
    display: flex;
}

.button {
    margin: 4px 8px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    width: 80px;
    height: 20px;
    padding: 4px 0px;
    margin-left: 0;
}

.button.one {
    background-color: rgb(64, 104, 223);
    color: white;
}

.button.two {
    color:  rgb(64, 104, 223);
    border: 1px solid gray;
}

.item.three {
    display: flex;
    margin: 0;
    border-radius: 10px;
    background-color: lightgray;
    height: 20px;
    width: 20px;
    flex-shrink: 0;
    justify-content: center;
    text-align: center;
}

.right-button {
    display: flex;
    font-size: 14px;
    font-weight: 1000;
    align-items: center;
    color: gray;
}