body, html {
    height: 100%;
}

body {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    background-color: white;
    width: 400px;
    padding: 8px;
    border-radius: 10px;
}
.item.one{
    display: flex;
    height: 25px;
    width: 25px;
    flex-shrink: 0;
    border-radius: 50%;

    color: rgb(12, 37, 146);
    background-color: rgb(95, 95, 182);
    margin-right: 16px;
    padding: 8px;
}

.circle {
    font-size: 30px;
}