body, html {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.footer,
.header {
    background-color: #eeeeee;
    display: flex;
    justify-content: space-between;
}

.right-panel,
.left-panel {
    display: flex;
}

